.blog-list__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-list__contents > * {
    margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
    .blog-list__contents > * {
        margin-bottom: 10px;
    }
}