.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.pagination__index { 
    margin: 0 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.pagination--active {
    color: red;
}