.tag__container {
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 50px;
    color: #fff;
    z-index: 100;
}

@media screen and (max-width: 960px) {
    .tag__container {
        padding: 2px 12px;
        font-size: 0.8rem;
    }
}