.upload-blog {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0 , 0, 0.8);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.upload-blog__form {
    position: relative;
    width: 400px;
    height: 600px;
    background: #fff;
    border-radius: 4px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

.upload-blog__close {
    position: absolute;
    right: 20px;
    cursor: pointer;
    transform: scale(1.3);
}

.upload-blog__text {
    height: 35px;
    margin-top: 20px;
}

.upload-blog__tag-wrapper {
    display: flex;
    margin-top: 10px;
}

.upload-blog__tag {
    padding: 3px 9px;
    margin-right: 5px;
    background: #b2bec3;
    color: #fff;
    border-radius: 25px;
}

.upload-blog__upload-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 15px;
}

.upload-blog__file-upload {
    padding: 10px 50px;
    border-radius: 4px;
}

.upload-blog__file-upload:nth-child(1) {
    background: var(--primary);
    color: #fff;
    cursor: pointer;
}

.upload-blog__file-upload:nth-child(2) {
    background: var(--primary);
    color: #fff;
}

.upload-blog input[type='text'] {
    font-size: 1rem;
}

.upload-blog input[type='file'] {
    display: none;
}

.upload-blog__textarea {
    width: 320px;
    height: 200px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
}