.login__container {
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #b2bec3;
    border-radius: 5px;
    padding: 50px 20px ;
}

.login__input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 1em;
    outline: none;
}

.login__input[type='password'] {
    font-size: 1.5em;
    padding: 0 10px;
}

.login__button {
    background: #FA5882;
    color: white;
    font-size: 1.3em;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.login__button:hover {
    cursor: pointer;
    background: #d63031;
}

@media(max-width: 765px) {
    .login__container {
        width: 100%;
        margin-top: 30px;
        padding: 0;
        border: none;
    }
}